{% extends "board/layout.html" %}
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style>
	.col_centered{
		margin:0 auto;
		text-align:center;
		float:noen;
	}
	</style>
</head>

{% block content %}
{% if user.is_active %}

<p align="right" style="font-family: 'Montserrat', sans-serif;">Welcome, {{user.username}}　　</p>
<p align="right">
<button type="submit"><a href="{% url 'logout' %}">로그아웃</a></button>
<button type="submit"><a href="{% url 'board:post_create' %}">글쓰기</a></button>
</p>
{% else %}
<p align="right">
<button type="submit"><a href="{% url 'signin' %}">로그인</a></button>
<button type="submit"><a href="{% url 'join' %}">회원가입</a></button>
</p>
{% endif %}
<form action="" method="get">
	<div class="input-group col_centered" align="center">
  	<input align="center" type="text" class="form-control" aria-describedby="basic-addon2" name="q" value="{{q}}">
	<div class="input-group-append">
  		<button class="btn btn-outline-secondary" type="submit">Button</button>
  	</div>
  </div>
</form>


<ul class="list-group">
    {%for post in post_list%}
    <li class="list-group-item" style="padding-left:20px;padding-right:20px;">
      <a href="{% url "board:post_detail" post.id %}">
        {{post.title}} {{ post.detail }}
      </a>
      <small>by <a href ="{% url 'profile' %} ">{{post.name}}</a></small>
      <small>at {{post.updated_at}}</small>

    </li>

    {%endfor%}

  </ul>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}
