{% extends 'board/layout.html' %}


{% block content %}
{% if user.is_active %}
<p>Welcom {{user.username}} </p>
<a href="{% url 'logout' %}">로그아웃</a>

{% else %}
{% if form.errors %}
<p>ID나 PW가 불일치합니다.</p>
{% endif %}
<button type="submit"><a href="{% url 'signin' %}">로그인</a></button>
{% endif %}
<div style="text-align: center; margin-top: 100px;">
  {% if post %}
  <h2>글 수정하기</h2>
  {% else %}
  <h2>게시판 글쓰기</h2>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <label for="title">제목</label>
    <input type="text" name="title" /><br />
    {% if error.title %}
      <p style="color: red;">제목을 입력해주세요</p>
    {% endif %}

    <label for="content">내용</label>
    <input type="text" name="content" /><br /><br />
    {% if error.content %}
      <p style="color: red;">내용을 입력해주세요</p>
    {% endif %}

    <button type="submit">제출</button>
  </form>
</div>
{% endblock %}
