{% extends 'board/layout.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Basic Register Page - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
        </style>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />'); 
            else $('head > link').filter(':first').replaceWith(defaultCSS); 
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height()); 
          window.parent.postMessage( iframe_height, 'https://bootsnipp.com');
        });
    </script>
</head>
<body>
    <div class="container-fluid">
    <section class="container">
        <form method="post" action="">
                {% csrf_token %}
		<div class="container-page">				
			<div class="col-md-6">

    		<h3 class="dark-grey">글쓰기</h3>
				<div class="form-group col-lg-6">
                    <label>주소</label>
                    <input type="text" id="sample6_postcode" placeholder="우편번호" class="form-control">
                </div>
                <div class="form-group col-lg-6">
                    <label style="color:white">주소</label><br>
                    <input class="btn btn-primary" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                </div>
                <div class="form-group col-lg-12">
                        <input type="text" name="title" class="form-control" placeholder="주소" id="title" maxlength="30" />
                </div>
                <div class="form-group col-lg-12">
                        <input type="text" name="detail" class="form-control" placeholder="상세주소" id="detail" maxlength="150" />
                </div>
                <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
                {% if error.title %}
                <p style="color: red;">제목을 입력해주세요</p>
                {% endif %}
                <div class="form-group col-lg-12">
                    <label for="content">계좌 및 희망요금 :</label><br>
                    <input type="text" name="content" class="form-control"/><br>
                </div>
                {% if error.content %}
                    <p style="color: red;">내용을 입력해주세요</p>
                    {% endif %}
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;

                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('title').value = fullAddr;

                // 커서를 상세주소 필드로 이동한다.
                document.getElementById('detail').focus();
            }
        }).open();
    }
</script>
			<br>
			
            <div class="form-group col-lg-6">
                    <label style="color:white">제출</label><br>
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        </form>
    </section>
    
</div>	<script type="text/javascript">
		</script>
</body>
</html>
{% endblock %}