<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Parking For All</title>
</head>
<body>

	<h1 style="padding-top:100px; text-align:center; font-family: 'Monoton', cursive;">PARKING    FOR    ALL</h1>



  {% block content %}
  {% endblock %}
  <hr/>
  &copy; 2018 ParkingForAll

</body>

</html>
